@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600;700&display=swap');
body{
    font-family: 'Hind Siliguri', sans-serif;
}
.annotation-list {
    counter-reset: annotation-list;
  }
  
  .annotation-list li {
    position: relative;
    margin: 0 0 1.5em 0;
    list-style: none;
  }
  
  .annotation-list li:before {
    position: absolute;
    top: -2px;
    left: -37px;
    padding: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #f60;
    content: counter(annotation-list);
    counter-increment: annotation-list;
    color: #fff;
    text-align: center;
    text-shadow: 0px -1px 0px #888;
  }
  

  #classCount{    
    color: #ffffff;
    font-size: 22px;
    padding: 0px 10px;
    font-weight: 700;
    background: #ff0101;
    margin-left: 10px;
    border-radius: 5px;
  }