@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600;700&display=swap');
body{
    font-family: 'Hind Siliguri', sans-serif !important;
}
.container {
  margin: 0 5%;
}

.codetabs-header > ul:before, .codetabs-header > ul:after {
  content: " ";
  display: table;
}
.codetabs-header > ul:after {
  clear: both;
}

.codetabs-header > ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.codetabs-header > ul > li {
  display: block;
  float: left;
}
.codetabs-header > ul > li > a {
  display: block;
  padding: 6px 16px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.codetabs-header > ul > li > a:hover, .codetabs-header > ul > li > a:focus {
  background-color: #4a4a4a;
}
.codetabs-header > ul > li.active > a, .codetabs-header > ul > li.active > a:hover, .codetabs-header > ul > li.active > a:focus {
  cursor: default;
  background-color: #303030;
}
.codetabs-header > ul > li.active > a:before, .codetabs-header > ul > li.active > a:hover:before, .codetabs-header > ul > li.active > a:focus:before {
  content: "";
  bottom: -5px;
  left: calc(50% - 6px);
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #303030;
}
.codetabs-header > ul > li.codebox-html.active > a, .codetabs-header > ul > li.codebox-html.active > a:hover, .codetabs-header > ul > li.codebox-html.active > a:focus {
  background-color: #e44d26;
}
.codetabs-header > ul > li.codebox-html.active > a:before, .codetabs-header > ul > li.codebox-html.active > a:hover:before, .codetabs-header > ul > li.codebox-html.active > a:focus:before {
  border-top-color: #e44d26;
}
.codetabs-header > ul > li.codebox-css.active > a, .codetabs-header > ul > li.codebox-css.active > a:hover, .codetabs-header > ul > li.codebox-css.active > a:focus {
  background-color: #0270ba;
}
.codetabs-header > ul > li.codebox-css.active > a:before, .codetabs-header > ul > li.codebox-css.active > a:hover:before, .codetabs-header > ul > li.codebox-css.active > a:focus:before {
  border-top-color: #0270ba;
}
.codetabs-header > ul > li.codebox-javascript.active > a, .codetabs-header > ul > li.codebox-javascript.active > a:hover, .codetabs-header > ul > li.codebox-javascript.active > a:focus {
  background-color: #f7df1e;
}
.codetabs-header > ul > li.codebox-javascript.active > a:before, .codetabs-header > ul > li.codebox-javascript.active > a:hover:before, .codetabs-header > ul > li.codebox-javascript.active > a:focus:before {
  border-top-color: #f7df1e;
}
.codetabs-header > ul > li.codebox-php.active > a, .codetabs-header > ul > li.codebox-php.active > a:hover, .codetabs-header > ul > li.codebox-php.active > a:focus {
  background-color: #6082bb;
}
.codetabs-header > ul > li.codebox-php.active > a:before, .codetabs-header > ul > li.codebox-php.active > a:hover:before, .codetabs-header > ul > li.codebox-php.active > a:focus:before {
  border-top-color: #6082bb;
}
.codetabs-header > ul > li.codebox-java.active > a, .codetabs-header > ul > li.codebox-java.active > a:hover, .codetabs-header > ul > li.codebox-java.active > a:focus {
  background-color: #f89820;
}
.codetabs-header > ul > li.codebox-java.active > a:before, .codetabs-header > ul > li.codebox-java.active > a:hover:before, .codetabs-header > ul > li.codebox-java.active > a:focus:before {
  border-top-color: #f89820;
}
.codetabs-header > ul > li.codebox-csharp.active > a, .codetabs-header > ul > li.codebox-csharp.active > a:hover, .codetabs-header > ul > li.codebox-csharp.active > a:focus {
  background-color: #68217a;
}
.codetabs-header > ul > li.codebox-csharp.active > a:before, .codetabs-header > ul > li.codebox-csharp.active > a:hover:before, .codetabs-header > ul > li.codebox-csharp.active > a:focus:before {
  border-top-color: #68217a;
}

.codebox {
  margin-bottom: 16px;
}

.codebox-header, .codetabs-header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #575757;
}

.codebox-header {
  padding: 6px 16px;
}
.codebox-header.codebox-html {
  background-color: #e44d26;
}
.codebox-header.codebox-css {
  background-color: #0270ba;
}
.codebox-header.codebox-javascript {
  background-color: #f7df1e;
}
.codebox-header.codebox-php {
  background-color: #6082bb;
}
.codebox-header.codebox-java {
  background-color: #f89820;
}
.codebox-header.codebox-csharp {
  background-color: #68217a;
}

.codebox-content {
  padding: 16px;
  font-family: Inconsolata, monospaced;
  font-size: 14px;
  color: #fff;
  background-color: #3d3d3d;
}
.codebox-content pre {
  margin: 0;
}
.codebox-content .codetab-content {
  display: none;
}
.codebox-content .codetab-content.active {
  display: block;
}

.hljs-comment,
.hljs-javadoc,
.hljs-shebang {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-function .hljs-keyword,
.hljs-request,
.hljs-status,
.nginx .hljs-title,
.method,
.hljs-list .hljs-title {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.tex .hljs-command,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-tag .hljs-title,
.hljs-doctype,
.hljs-sub .hljs-identifier,
.hljs-pi,
.input_number {
  color: #e8bf6a;
}

.hljs-identifier {
  color: #d0d0ff;
}

.hljs-class .hljs-title,
.hljs-type,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-dartdoc {
  text-decoration: none;
}

.hljs-constant,
.hljs-name {
  color: #da4939;
}

.hljs-symbol,
.hljs-built_in,
.ruby .hljs-symbol .hljs-string,
.ruby .hljs-symbol .hljs-identifier,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url,
.hljs-attribute {
  color: #6d9cbe;
}

.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  text-decoration: underline;
}

.hljs-params,
.hljs-variable,
.clojure .hljs-attribute {
  color: #d0d0ff;
}

.css .hljs-tag,
.hljs-rule .hljs-property,
.hljs-pseudo,
.tex .hljs-special {
  color: #cda869;
}

.css .hljs-class {
  color: #9b703f;
}

.hljs-rule .hljs-keyword {
  color: #c5af75;
}

.hljs-rule .hljs-value {
  color: #cf6a4c;
}

.css .hljs-id {
  color: #8b98ab;
}

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #8996a8 !important;
}

.hljs-hexcolor,
.css .hljs-value .hljs-number {
  color: #a5c261;
}

.hljs-title,
.hljs-decorator,
.css .hljs-function {
  color: #ffc66d;
}

.diff .hljs-header,
.hljs-chunk {
  background-color: #2f33ab;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.diff .hljs-change {
  background-color: #4a410d;
  color: #f8f8f8;
  display: inline-block;
  width: 100%;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.7;
}